@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

.dashboardCard {
    @include mixins.primary-card;
}

.cardHeader {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

.cardTitle {
    font-size: 1.25em;
}
