@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

.dashboardWindow {
    @include mixins.default-primary-box-shadow;
    background-color: colors.$table-background;
    border: 2px solid colors.$primary-border;
    border-radius: 10px;
    padding: 1rem;
    overflow-x: auto;
}

.windowHeader {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

.windowTitle {
    font-size: 1.5em;
}

.tableContainer {
    overflow-x: auto;
}

.dashboardTable {
    min-width: max-content;
}
