@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

.dashboardWindow {
    @include mixins.primary-card;
}

.windowHeader {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

.windowTitle {
    font-size: 1.5em;
}

.tableContainer {
    overflow-x: auto;
}

.dashboardTable {
    min-width: max-content;
}
