@use "../../styles/colors.scss";

.cardContent {
    text-align: center;
    font-size: 1.5rem;
}

.dashboard {
    display: grid;
    gap: 1rem;
    grid-template-columns: 6fr 2fr;

    > :nth-child(1) {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }

    > :nth-child(3) {
        grid-column: 2;
        grid-row: 1 / span 2;
    }
}

.highlightCards {
    > :nth-child(1) .cardContent {
        color: colors.$text-warning;
    }
    > :nth-child(2) .cardContent {
        color: colors.$text-danger;
    }
    > :nth-child(3) .cardContent {
        color: colors.$text-success;
    }
}

.messagesRowsContainer {
    display: grid;
    gap: 0.5rem;
}
