.dashboard {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.dashboardMain {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    overflow-x: auto;
}

.dashboardSub {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto;
}
