@use "../../styles/colors.scss";

.parentTableRow:hover {
    background-color: colors.$primary-hover;
    cursor: pointer;
}

.childTableContainer {
    div {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    table {
        background-color: colors.$table-background;
        width: auto;
    }
}
