@use "../../styles/common.scss";
@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

.clientPageLayout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 85vh;
}

.mainSectionCard {
    @extend .card;
}

.mainSectionHeader {
    display: flex;
    gap: 1rem;
    justify-content: end;

    > span {
        font-size: 1.5rem;
    }
}

.clientListCard {
    @include mixins.primary-card;
    display: grid;

    > div {
        display: grid;
        gap: 0.5rem;
        overflow-y: auto;
    }
}

.headerBusinessName {
    margin-right: auto;
}

.pageCards {
    display: flex;
    flex: 1;
    gap: 1rem;
    min-height: 0;

    > :nth-child(2) {
        flex: 1;
    }
}
