@use "../../styles/common.scss";
@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

.mainSectionCard {
    @extend .card;
}

.mainSectionHeader {
    display: flex;
    gap: 1rem;
    justify-content: end;

    > span {
        font-size: 1.5rem;
    }
}

.clientListCard {
    @include mixins.primary-card;
    display: grid;
    gap: 0.5rem;
}

.headerBusinessName {
    margin-right: auto;
}

.pageCards {
    display: flex;
    gap: 1rem;
    flex: 1;

    > :nth-child(2) {
        flex: 1;
    }
}
