$primary: #f5f3ff;

$primary-text-active: #303030;
$primary-text-inactive: #bdbdbd;
$primary-text-hover: #6d63bb;

$primary-border: #e4e4e4;
$primary-shadow: #dfdfdf;


$secondary: #1f1c35;
$secondary-text: #ffffff;
$secondary-hover: #39345c;
$secondary-border: #39345c;

$button: #39345c;
$button-text: #ffffff;
