// primary
$primary: #f5f3ff;
$primary-text: #303030;
$primary-text-inactive: #bdbdbd;
$primary-text-hover: #6d63bb;

$primary-border: #e4e4e4;
$primary-hover: #eeeef3;
$primary-hover-over-hover: #d1d1da;
$primary-shadow: #dfdfdf;

// secondary
$secondary: #1f1c35;
$secondary-light: #39345c;
$secondary-text: #ffffff;

$secondary-border: #39345c;
$secondary-hover: #39345c;

// messages
$message-sender: #deddeb;

// miscellaneous
$button: #39345c;
$button-hover: #2b284d;
$button-text: #ffffff;
$table-background: #f7f7ff;
$text-field-background: #f7f7ff;

$text-danger: #ff3e3e;
$text-success: #1ca61c;
$text-warning: #f5a700;
