@use "./colors.scss";

.page-header {
    text-align: end;
    font-size: 2em;
    margin: 0 2rem 2rem 2rem;
}

.page-layout {
    display: flex;
    flex-direction: column;
}

.text-button:hover {
    color: colors.$primary-text-hover;
    cursor: pointer;
}

/* For lists of text buttons with only one selectable option*/
.text-button-active:hover {
    cursor: default;
}

.text-button-inactive {
    color: colors.$primary-text-inactive;
}
