@use "./colors.scss";
@use "./mixins.scss";

.page-header {
    text-align: end;
    font-size: 2em;
    margin: 0 2rem 2rem 2rem;
}

.page-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.table-card {
    @include mixins.primary-card;
    align-self: stretch;
}

.text-button:hover {
    color: colors.$primary-text-hover;
    cursor: pointer;
}

/* For the inputs that appear at the top of some pages */
.common-page-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.common-page-inputs-container {
    align-self: start;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
}

/* For lists of text buttons with only one selectable option */
.text-button-active:hover {
    cursor: default;
}

.text-button-inactive {
    color: colors.$primary-text-inactive;
}
