@use "./colors.scss";

@mixin default-primary-box-shadow {
    box-shadow: 0 .125em .25em colors.$primary-shadow;
}

@mixin primary-card {
    @include default-primary-box-shadow;
    background-color: colors.$table-background;
    border: 2px solid colors.$primary-border;
    border-radius: 10px;
    padding: 1rem;
    overflow-x: auto;
}

