@use "./colors.scss";

@mixin default-primary-box-shadow {
    box-shadow: 0 .125em .25em colors.$primary-shadow;
}

@mixin primary-card($padding: 1rem) {
    @include default-primary-box-shadow;
    background-color: colors.$table-background;
    border: 2px solid colors.$primary-border;
    border-radius: 10px;
    padding: $padding;
}

@mixin form-input {
    @include default-primary-box-shadow;
    background-color: colors.$text-field-background;
    border: 1px solid colors.$primary-border;
    border-radius: 0.5rem;
    padding: 0.25rem;
}
