@use "../../styles/colors.scss";

.brand {
    text-align: center;
    font-size: 2em;
}

.logoutButtonContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: end;
}

.navigation {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.navigationButtons {
    display: flex;
    flex: 1;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.sidebar {
    background-color: colors.$secondary;
    color: aliceblue;
    flex-shrink: 0;
    width: 15rem;
}

.sidebarContent {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100dvh;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    width: 100%;
}

hr {
    border-color: colors.$secondary-border;
}
