@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

.resultIcon {
    color: colors.$text-success;
}

.verificationCard {
    @include mixins.primary-card;
    max-width: 50ch;

    > p {
        text-align: center;
    }
}

.verificationResult {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.verificationSection {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
}
