.dashboard-window {
    border: 2px solid rgb(228, 228, 228);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(227, 227, 227);
    padding: 1rem;
    overflow-x: auto;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

.window-title {
    font-size: 1.5em;
}

.table-container {
    overflow-x: auto;
}

.dashboard-table {
    min-width: max-content;
}
