@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

$input-width: 16ch;

.inputContainer {
    align-items: center;
    display: flex;
    gap: 1rem;
    min-height: 2.25rem;
    min-width: 32ch;
}

.inputLabel {
    margin-right:auto;
}

.formInput {
    @include mixins.form-input;
    width: $input-width;
}

.formTextarea {
    @include mixins.form-input;
    resize: none;
}

.checkboxContainer {
    display: flex;
    justify-content: end;
    width: $input-width;
}

.formSubmit {
    @include mixins.primary-button
}

.formSubmit:hover {
    background-color: colors.$button-hover;
    cursor: pointer;
}

.textareaContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
