@use "../../styles/colors.scss";
@use "../../styles/mixins.scss";

$input-width: 16ch;

@mixin form-input {
    @include mixins.default-primary-box-shadow;
    background-color: colors.$text-field-background;
    border: 1px solid colors.$primary-border;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.inputContainer {
    align-items: center;
    display: flex;
    gap: 1rem;
    min-height: 2.25rem;
    width: 32ch;
}

.inputLabel {
    margin-right:auto;
}

.formInput {
    @include form-input();
    width: $input-width;
}

.formTextarea {
    @include form-input();
    resize: none;
}

.checkboxContainer {
    display: flex;
    justify-content: end;
    width: $input-width;
}

.formSubmit {
    @include mixins.default-primary-box-shadow;
    border: none;
    border-radius: 0.5rem;
    background-color: colors.$button;
    color: colors.$button-text;
    padding: 0.375rem 1rem;
}

.formSubmit:hover {
    background-color: colors.$button-hover;
    cursor: pointer;
}

.textareaContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
