.page-header {
    text-align: end;
    font-size: 2em;
    margin: 0 2rem 2rem 2rem;
}

.page-layout {
    display: flex;
    flex-direction: column;
}

.text-button:hover {
    color: blue;
    cursor: pointer;
}

.text-button-inactive {
    color: lightgray;
}
