.page-header {
    text-align: end;
    font-size: 2em;
    margin: 0 2rem 2rem 2rem;
}

.page-layout {
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
}

.subroute-nav {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
}

.text-button:hover {
    color: blue;
    cursor: pointer;
}

.text-button-inactive {
    color: lightgray;
}
