.sidebar {
    background-color: rgb(31, 28, 53);
    color: aliceblue;
    width: 16rem;
    flex-shrink: 0;
}

.sidebarContent {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.brand {
    text-align: center;
    font-size: 2em;
    margin-bottom: 3rem;
}
